@model List<BookStore.Models.CartItem>
@using BookStore.Controllers;

@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    int totalnumberproduct = 0;
    int totalmoney = 0;
}

<head>
    <link href="~/Assets/fontawesome/css/all.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        var html = " ";
        let count = 0;
        let defaultPageSize = 3;
        function GetCart_Plus() {
            count++;
            $.ajax({
                url: "/UserLog/GetUserCart",
                data: { skip: count, pageSize: defaultPageSize },
                dataType: 'json',
                //contentType: "application/json; charset=utf-8",
                type: "POST",
                success: function (response) {
                    //countTemp = 0;
                    var Name = response.Name;
                    var Price = response.Price;
                    var Quantity = response.Quantity;
                    var Image = response.Image;
                    var SumPrice = response.SumPrice;
                    templateHTML = document.getElementById('rowTemplate').innerHTML;
                    if (Name.length > 0) {
                        $('tbody').empty();
                        for (i = 0; i < Name.length; i++) {
                            var html = templateHTML.replace(/{Image}/g, Image[i]).replace(/{Name}/g, Name[i]).replace(/{Price}/g, Price[i]).replace(/{Quantity}/g, Quantity[i]).replace(/{SumPrice}/g, SumPrice[i]);
                            $('tbody').append(html);
                        }
                    }
                    else { count--; }
                },

                error: function () {
                    alert("Error")
                },

                complete: function (response) {
                    //alert("complete")
                },

                failure: function (jqXHR, textStatus, errorThrown) {

                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText);    //error message is displayed

                }
            })
        }
        function GetCart_Substract() {
            if (count > 0) {
                count = count - 1;
                $.ajax({
                    url: "/UserLog/GetUserCart",
                    data: { skip: count, pageSize: defaultPageSize },
                    dataType: 'json',
                    //contentType: "application/json; charset=utf-8",
                    type: "POST",
                    success: function (response) {
                        //countTemp = 0;
                        var Name = response.Name;
                        var Price = response.Price;
                        var Quantity = response.Quantity;
                        var Image = response.Image;
                        var SumPrice = response.SumPrice;
                        templateHTML = document.getElementById('rowTemplate').innerHTML;
                        $('tbody').empty();
                        for (i = 0; i < Name.length; i++) {
                            /*var html = "<tr>" + "<td class='shoping__cart__item'>" + "<img src='/Images/" + Image[i] + "' alt='anh' style='height: 100px; width: 71px'>" + "<h5>" + Name[i] + "</h5>" + "</td>" + "<td class='shoping__cart__price'>" + "<span class='product-price'>" + Price[i] + "</span><span>đ</span>" + "</td>" + "<td class='shoping__cart__quantity'>" + Quantity[i] + "</td>" + "<td class='shoping__cart__total'><span class='total_price_of_product'><span class='sum-product-price'>" + SumPrice[i] + "</span></span><span>đ</span></td>" + "</tr>";*/
                            var html = templateHTML.replace(/{Image}/g, Image[i]).replace(/{Name}/g, Name[i]).replace(/{Price}/g, Price[i]).replace(/{Quantity}/g, Quantity[i]).replace(/{SumPrice}/g, SumPrice[i]);
                            $('tbody').append(html);
                        }
                    },

                    error: function () {
                        alert("Error")
                    },

                    complete: function (response) {
                        //alert("complete")
                    },

                    failure: function (jqXHR, textStatus, errorThrown) {

                        alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText);    //error message is displayed

                    }
                })
            }
        }
    </script>
</head>

<script id="rowTemplate" type="text/html">
    <tr>
        <td class="shoping__cart__item">
            <img src="/Images/{Image}" alt="{Name}" style="height:100px;width:71px">
            <h5>{Name}</h5>
        </td>
        <td class="shoping__cart__price">
            <span class="product-price">{Price}</span><span>đ</span>
        </td>
        <td class="shoping__cart__quantity">
            <span>{Quantity}</span>
        </td>
        <td class="shoping__cart__total">
            <span class="total_price_of_product"><span class="sum-product-price">{SumPrice}</span></span><span>đ</span>
        </td>
    </tr>
</script>

<section class="breadcrumb-section set-bg" data-setbg="/Assets/Client/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Nhà sách Phương Nam</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Xin chào @ViewBag.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Danh mục</h4>
                        <ul>
                            <li>
                                <a href="/myAccount" class="pl-3">Thông tin tài khoản</a>
                            </li>
                            <li>
                                <a href="/myAccount/lich-su-mua-hang" class="text-white font-weight-bold pl-3" style="background-color: #7fad39">Lịch sử mua hàng</a>
                            </li>
                            <li>
                                <a href="/shopping-cart" class="pl-3">Đơn hàng của tôi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @if (Model.Count>0)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="shoping__cart__table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="shoping__product">Products</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                totalnumberproduct += item.Quantity;
                                                totalmoney += (Convert.ToInt32(item.Product.Price.GetValueOrDefault(0)) * item.Quantity);
                                                <tr>
                                                    <td class="shoping__cart__item">
                                                        <img src="~/Images/@item.Product.Image" alt="@item.Product.Name" style="height:100px;width:71px">
                                                        <h5>@item.Product.Name</h5>
                                                    </td>
                                                    <td class="shoping__cart__price">
                                                        <span class="product-price">@item.Product.Price.Value.ToString("N0")</span><span>đ</span>
                                                    </td>
                                                    <td class="shoping__cart__quantity">
                                                        @item.Quantity
                                                    </td>
                                                    <td class="shoping__cart__total">
                                                        <span class="total_price_of_product"><span class="sum-product-price">@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</span></span><span>đ</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="py-4">
                                                <td colspan="4" class="py-4">
                                                    <button class="btn px-3 text-white" onclick="GetCart_Substract()" style="background-color: #7fad39"><i class="fas fa-caret-left" style="font-size:18px"></i></button>
                                                    <button class="btn px-3 text-white" onclick="GetCart_Plus()" style="background-color: #7fad39"><i class="fas fa-caret-right" style="font-size:18px"></i></button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                @*<div class="shoping__cart__btns">
                                    <a href="/" class="primary-btn cart-btn">Tiếp tục mua sắm</a>
                                    <button class="primary-btn cart-btn cart-btn-right btn" id="btnUpdate">
                                        <span class="icon_loading"></span>
                                        Cập nhật giỏ hàng
                                    </button>
                                </div>*@
                            </div>
                            <div class="col-lg-6">
                                <div class="shoping__continue">
                                    <div class="shoping__discount">
                                        <h5>Discount Codes</h5>
                                        <form action="#">
                                            <input type="text" placeholder="Enter your coupon code">
                                            <button type="submit" class="site-btn">APPLY COUPON</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="shoping__checkout">
                                    <h5>Cart Total</h5>
                                    <ul>
                                        <li>Tổng sản phẩm <span id="checkout_product1">@ViewBag.CountProduct</span></li>
                                        <li>Số lượng <span id="checkout_product2">@ViewBag.TotalNumberProduct</span></li>
                                        <li>Thành tiền <span id="checkout_product3">@ViewBag.TotalMoney<span>đ</span></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger text-center text-danger font-weight-bold">
                        Bạn chưa mua sản phẩm nào &rarr;
                        <a href="/">Bắt đầu mua hàng</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


