@model IEnumerable<BookStore.Models.LoginInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RememberMe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RememberMe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EMailorUserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.EMailorUserName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EMailorUserName })
        </td>
    </tr>
}

</table>
