@model BookStore.Common.Manager

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    Ban có chắc muốn xóa quản trị viên: <span class="font-weight-bold text-danger">@(Model.SirName+" "+Model.FirstName)</span>
}

<div>
    <table class="table table-bordered table-hover col-md-10 ml-md-4">
        <tr class="bg-primary">
            <th>Thuộc tính</th>
            <th>Giá trị</th>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.SirName)
            </td>

            <td>
                @Html.DisplayFor(model => model.SirName)
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </td>

            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.UserName)
            </td>

            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
