@model BookStore.Models.LoginInfo

@{
    Layout = null;
}

<link rel="stylesheet" href="~/Assets/Client/usersession/fonts/material-icon/css/material-design-iconic-font.min.css">
<!-- Main css -->
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Assets/Client/usersession/css/style.css">

<div class="flex">
    <div class="container mt-2">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Assets/Client/usersession/images/signin-image.jpg" alt="sing up image"></figure>
                <a class="signup-image-link" href="/dang-ky" di>Create an account</a>
            </div>
            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="POST" class="register-form" id="login-form" @*name="returnUrl" value="@ViewBag.returnUrl"*@>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        @Html.EditorFor(model => model.EMailorUserName, new { htmlAttributes = new { @placeholder = "Email or Username" } })
                        @Html.ValidationMessageFor(model => model.EMailorUserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="RememberMe" value="1" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Đăng nhập" />
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

