@model BookStore.Common.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    Chi tiết khác hàng: <span class="text-danger font-weight-bold">@Model.Name</span>
}

<style>
    .hover_img p {
        position: relative;
    }

        .hover_img p span {
            position: absolute;
            display: none;
            z-index: 99;
        }

        .hover_img p:hover span {
            display: block;
        }
</style>

<div>
    <table class="table table-bordered table-hover col-md-10 ml-md-4">
        <tr class="bg-primary">
            <th>Thuộc tính</th>
            <th>Giá trị</th>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.UserName)
            </td>

            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.Address)
            </td>

            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.Email)
            </td>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.Phone)
            </td>

            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </td>

            <td>
                @Model.CreatedDate.Value.ToString("dd-MM-yyyy")
            </td>
        </tr>

        <tr>
            <td class="mr-4">
                @Html.DisplayNameFor(model => model.Status)
            </td>

            <td>
                @(Model.Status==true?"Kích hoạt":"Tạm khóa")
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay lại danh sách khách hàng", "Index")
</p>
