@model BookStore.Common.Product
@{
    ViewBag.Title = "Detail Product";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
    <script>
        $("#Pages_menu").addClass("active");
        function changeAction() {
            var action = '@Url.Action("AddItem", "Orders", new { productID = Model.ID})'+'&quantity=' + document.getElementById("quantity_product").value;
            document.getElementById("form_action").setAttribute("action", action)
        }
    </script>
</head>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/Assets/Client/img/breadcrumb.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Nhà sách Phương Nam</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index","Home")">Home</a>
                        <a href="@Url.Action("Index", "ListProductByCategory", new { cateid= ViewBag.ProductCategory.ID })">@ViewBag.ProductCategory.Name</a>
                        <span>@Model.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Url.Content(String.Format("~/Images/{0}",Model.Image))" alt="@Model.Name">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Name</h3>
                    <div class="product__details__price">@Model.Price.Value.ToString("N0")<span>đ</span></div>
                    <p class="text-justify">
                        @Html.Raw(Model.Description)
                    </p>
                    
                    <form action="@Url.Action("AddItem", "Orders", new { productID = Model.ID, quantity = 1 })" method="post" id="form_action">
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty" style="display:inline-block !important">
                                    <input type="text" name="quantity" value="1" id="quantity_product">
                                </div>
                            </div>
                        </div>
                        <button onclick="changeAction()" class="btn primary-btn" id="addToCart">Thêm vào giỏ hàng</button>
                    </form>

                    <ul>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    @if (Model.Detail != null)
                    {
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Chi tiết</h6>
                                    <p>
                                        @Html.Raw(Model.Detail)
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.RelatedProduct)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mx-auto">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@Url.Content(String.Format("~/Images/{0}",item.Image))" style="background-size:262.5px 270px;height:270px !important">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="@Url.Action("AddItem", "Orders", new { productID = item.ID, quantity = 1 })"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="@Url.Action("DetailProduct", "ManageProduct", new { cateid= item.ID })">@item.Name</a></h6>
                            <h5>@item.Price.ToString("N0")<span>đ</span></h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Related Product Section End -->
